---
title: Home
description: a personal knowledge base management.
image: images/1.jpg
bottom_image: images/2.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Find your own knowledge today</h1>
			<p class="subtext editable">iKbase helps you find knowledge with your own note quickly on mobile.</p>
			<div class="cta button alt"><a href="https://itunes.apple.com/au/app/ikbase/id1190407835?mt=8">Get Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Management structure</h2>
				<p class="editable">Demonstrate your knowledge structure, according to your own thinking structure.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/ss/1.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Fast Search</h2>
				<p class="editable">Quickly search for content.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/ss/2.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Support rich formats</h2>
				<p class="editable">Support markdown, images, gif etc.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/ss/3.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Git server support</h2>
				<p class="editable">Support public or private git repositories on GitHub/Bitbucket/GitLab.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/ss/4.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your own knowledge today</h2>
				<p class="subtext editable">It search quickly at any time.</p>
				<div class="cta button alt"><a href="https://itunes.apple.com/au/app/ikbase/id1190407835?mt=8">Get Now</a></div>
			</div>
		</div>
	</section>
</div>
